<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/El_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)

In [36]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import yfinance as yf

In [37]:
# voy ahora a crear mi primer dataframe
mi_dataframe =[]
mi_dataframe
columnas =['open','high','Low','close','Volume','Dividends','splits' ]
mi_dataframe = pd.DataFrame(columns=columnas)
mi_dataframe

Empty DataFrame
Columns: [open, high, Low, close, Volume, Dividends, splits]
Index: []

In [44]:
mi_dataframe = yf.Ticker('BA')
df = mi_dataframe.history(start = '2021-01-05' ,end= '2022-01-10')
df

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-05  204.740005  213.350006  ...          0             0
2021-01-06  210.220001  215.610001  ...          0             0
2021-01-07  213.389999  216.600006  ...          0             0
2021-01-08  213.610001  214.100006  ...          0             0
2021-01-11  203.029999  207.779999  ...          0             0
...                ...         ...  ...        ...           ...
2022-01-03  204.000000  210.550003  ...          0             0
2022-01-04  211.300003  214.559998  ...          0             0
2022-01-05  216.639999  218.929993  ...          0             0
2022-01-06  214.639999  216.000000  ...          0             0
2022-01-07  212.979996  218.320007  ...          0             0

[256 rows x 7 columns]

In [39]:
df.shape

(256, 7)

In [45]:
df.head(35)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-05  204.740005  213.350006  ...          0             0
2021-01-06  210.220001  215.610001  ...          0             0
2021-01-07  213.389999  216.600006  ...          0             0
2021-01-08  213.610001  214.100006  ...          0             0
2021-01-11  203.029999  207.779999  ...          0             0
2021-01-12  206.649994  209.059998  ...          0             0
2021-01-13  207.149994  208.789993  ...          0             0
2021-01-14  208.789993  214.190002  ...          0             0
2021-01-15  208.960007  209.250000  ...          0             0
2021-01-19  206.990005  211.520004  ...          0             0
2021-01-20  213.240005  215.589996  ...          0             0
2021-01-21  211.720001  211.929993  ...          0             0
2021-01-22  205.550003  206.699997  ...          0             0
2021-01-25  203.270004  203.800003  ...          0             0
2021-01-26  205.339996  208.350006  ...          0             0
2021-01-27  196.899994  199.470001  ...          0             0
2021-01-28  198.050003  200.419998  ...          0             0
2021-01-29  198.300003  201.570007  ...          0             0
2021-02-01  196.000000  197.380005  ...          0             0
2021-02-02  198.979996  203.029999  ...          0             0
2021-02-03  202.000000  208.160004  ...          0             0
2021-02-04  209.869995  212.479996  ...          0             0
2021-02-05  212.250000  213.199997  ...          0             0
2021-02-08  209.550003  211.990005  ...          0             0
2021-02-09  210.600006  216.729996  ...          0             0
2021-02-10  215.649994  217.490005  ...          0             0
2021-02-11  212.240005  213.990005  ...          0             0
2021-02-12  210.360001  213.160004  ...          0             0
2021-02-16  213.080002  217.399994  ...          0             0
2021-02-17  215.520004  218.710007  ...          0             0
2021-02-18  213.449997  214.339996  ...          0             0
2021-02-19  209.970001  217.639999  ...          0             0
2021-02-22  211.889999  220.389999  ...          0             0
2021-02-23  214.149994  214.750000  ...          0             0
2021-02-24  212.100006  229.610001  ...          0             0

[35 rows x 7 columns]

In [91]:
df['Medio']=0
df

                  Open        High         Low  ...  Dividends  Stock Splits  Medio
Date                                            ...
2021-01-05  204.740005  213.350006  204.600006  ...          0             0      0
2021-01-06  210.220001  215.610001  209.339996  ...          0             0      0
2021-01-07  213.389999  216.600006  211.779999  ...          0             0      0
2021-01-08  213.610001  214.100006  208.160004  ...          0             0      0
2021-01-11  203.029999  207.779999  201.009995  ...          0             0      0
...                ...         ...         ...  ...        ...           ...    ...
2022-01-03  204.000000  210.550003  203.339996  ...          0             0      0
2022-01-04  211.300003  214.559998  209.779999  ...          0             0      0
2022-01-05  216.639999  218.929993  211.809998  ...          0             0      0
2022-01-06  214.639999  216.000000  207.860001  ...          0             0      0
2022-01-07  212.979996  218.320007  212.380005  ...          0             0      0

[256 rows x 8 columns]

In [66]:
filtro = df.sort_values('Volume', ascending=False)
filtro

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-03-12  253.860001  269.720001  ...          0             0
2021-03-15  274.149994  278.570007  ...          0             0
2021-02-24  212.100006  229.610001  ...          0             0
2021-03-03  226.360001  235.399994  ...          0             0
2021-03-11  248.770004  256.649994  ...          0             0
...                ...         ...  ...        ...           ...
2021-11-04  213.800003  214.820007  ...          0             0
2021-10-05  224.270004  226.449997  ...          0             0
2021-11-24  207.520004  211.220001  ...          0             0
2021-11-03  211.470001  213.759995  ...          0             0
2021-10-08  226.750000  228.710007  ...          0             0

[256 rows x 7 columns]

In [80]:
round(df.loc['2021-11-03','Close'],2)

213.38

In [74]:
df_filtrado = df[df['Volume']<5437600]
df_filtrado
df_filtrado.to_excel('filrado.xlsx')

In [104]:
for i in df.index:
  df.loc[i,'Close']=88
df

                  Open        High         Low  ...  Dividends  Stock Splits  Medio
Date                                            ...
2021-01-05  204.740005  213.350006  204.600006  ...          0             0      0
2021-01-06  210.220001  215.610001  209.339996  ...          0             0      0
2021-01-07  213.389999  216.600006  211.779999  ...          0             0      0
2021-01-08  213.610001  214.100006  208.160004  ...          0             0      0
2021-01-11  203.029999  207.779999  201.009995  ...          0             0      0
...                ...         ...         ...  ...        ...           ...    ...
2022-01-03  204.000000  210.550003  203.339996  ...          0             0      0
2022-01-04  211.300003  214.559998  209.779999  ...          0             0      0
2022-01-05  216.639999  218.929993  211.809998  ...          0             0      0
2022-01-06  214.639999  216.000000  207.860001  ...          0             0      0
2022-01-07  212.979996  218.320007  212.380005  ...          0             0      0

[256 rows x 8 columns]

In [101]:
df[['Close','Volume']]

            Close    Volume
Date
2021-01-05   33.0  19338300
2021-01-06   33.0  16202200
2021-01-07   33.0  14474100
2021-01-08   33.0  14144000
2021-01-11   33.0  16770300
...           ...       ...
2022-01-03   33.0   9060200
2022-01-04   33.0  11414600
2022-01-05   33.0  11564700
2022-01-06   33.0   7142200
2022-01-07   33.0   9518000

[256 rows x 2 columns]

In [88]:
df

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-05  204.740005  213.350006  ...          0             0
2021-01-06  210.220001  215.610001  ...          0             0
2021-01-07  213.389999  216.600006  ...          0             0
2021-01-08  213.610001  214.100006  ...          0             0
2021-01-11  203.029999  207.779999  ...          0             0
...                ...         ...  ...        ...           ...
2022-01-03  204.000000  210.550003  ...          0             0
2022-01-04  211.300003  214.559998  ...          0             0
2022-01-05  216.639999  218.929993  ...          0             0
2022-01-06  214.639999  216.000000  ...          0             0
2022-01-07  212.979996  218.320007  ...          0             0

[256 rows x 7 columns]

In [51]:
acciones = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
acciones

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [76]:
acciones.loc[425]

Ticker    SWKS
Name: 425, dtype: object

In [ ]:
for i in acciones['Ticker']:
  print(i)

In [59]:
adjetivo ='blanco'
caracteristica = f'mi perro es {adjetivo}'
print(caracteristica)

mi perro es blanco

In [62]:
df.to_excel('apple_en_formato_excell.xlsx')